# version: '3.8'

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    depends_on:
      - frontend
      - auth-api
      - todos-api
      - users-api

  frontend:
    build: ./frontend-simple

    networks:
      - app-network
    depends_on:
      - auth-api
      - todos-api

  auth-api:
    build: ./auth-api
    ports:
      - "8081:8081"
    environment:
      - AUTH_API_PORT=8081
      - JWT_SECRET=${JWT_SECRET:-myfancysecret}
      - USERS_API_ADDRESS=http://users-api:8083

    networks:
      - app-network

  todos-api:
    build: ./todos-api
    ports:
      - "8082:8082"
    environment:
      - JWT_SECRET=${JWT_SECRET:-myfancysecret}
      - REDIS_HOST=redis-queue
      - REDIS_PORT=6379
      - REDIS_CHANNEL=log_channel

    networks:
      - app-network
    depends_on:
      - redis-queue

  users-api:
    build: ./users-api
    ports:
      - "8083:8083"
    environment:
      - SERVER_PORT=8083
      - JWT_SECRET=${JWT_SECRET:-myfancysecret}

    networks:
      - app-network

  log-message-processor:
    build: ./log-message-processor
    environment:
      - REDIS_HOST=redis-queue
      - REDIS_PORT=6379
      - REDIS_CHANNEL=log_channel
    networks:
      - app-network
    depends_on:
      - redis-queue

  redis-queue:
    image: redis:7-alpine
    networks:
      - app-network

networks:
  app-network:
    driver: bridge


