---
- name: Reset SSH connection
  meta: reset_connection

- name: Clone or update application repository
  git:
    repo: "{{ app_repo }}"
    dest: "{{ app_dir }}"
    force: yes
  register: git_result
  become: yes

- name: Create .env file
  template:
    src: .env.j2
    dest: "{{ app_dir }}/.env"
  register: env_result

- name: Build Java application
  shell: |
    cd {{ app_dir }}/users-api
    ./mvnw clean package -DskipTests
  when: git_result.changed or env_result.changed

- name: Stop existing containers
  shell: |
    cd {{ app_dir }}
    docker-compose down
  ignore_errors: yes
  when: git_result.changed or env_result.changed

- name: Start application with Docker Compose
  shell: |
    cd {{ app_dir }}
    docker-compose up -d --build
  when: git_result.changed or env_result.changed

- name: Wait for nginx to be ready
  wait_for:
    port: 80
    host: localhost
    delay: 30
    timeout: 300

- name: Verify application is accessible
  uri:
    url: "http://{{ domain }}"
    method: GET
    status_code: 200
  retries: 5
  delay: 10